openapi: 3.2.0
info:
  title: VivaLNK Biometrics Data Platform API (Modeled) Devices API
  description: A modeled OpenAPI description of the VivaLNK (Vivalink) Biometrics Data Platform cloud API for remote patient monitoring.
  version: 1.0-modeled
  contact:
    name: VivaLNK (Vivalink)
    url: https://www.vivalink.com
  x-status: modeled
  x-endpoints-confirmed: false
  x-source-notes: 'Confirmed via VivaLNK marketing/technical pages and the AWS Partner Network blog: REST over HTTPS, Amazon API Gateway, Amazon Kinesis Data Streams for near-real-time access, M2M cloud APIs, webhook support, FHIR support, and bulk data-file downloads. No public WebSocket API is documented.'
servers:
- url: https://api.vivalink.com
  description: Modeled base URL (partner-gated; actual host provided under the Developer Program)
security:
- bearerAuth: []
tags:
- name: Devices
  description: VivaLNK wearable biosensors and their assignment to subjects.
paths:
  /v1/devices:
    get:
      operationId: listDevices
      tags:
      - Devices
      summary: List devices
      description: Lists VivaLNK wearable biosensors registered to your account (modeled).
      parameters:
      - name: type
        in: query
        schema:
          type: string
          enum:
          - ecg
          - temperature
          - spo2
          - bp_cuff
      - name: assigned
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: A list of devices.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Device'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/devices/{deviceId}:
    parameters:
    - name: deviceId
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getDevice
      tags:
      - Devices
      summary: Retrieve a device
      responses:
        '200':
          description: The device.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/devices/{deviceId}/assignment:
    parameters:
    - name: deviceId
      in: path
      required: true
      schema:
        type: string
    put:
      operationId: assignDevice
      tags:
      - Devices
      summary: Assign a device to a subject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                subjectId:
                  type: string
              required:
              - subjectId
      responses:
        '200':
          description: The updated device assignment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
    delete:
      operationId: unassignDevice
      tags:
      - Devices
      summary: Unassign a device
      responses:
        '204':
          description: Device unassigned.
components:
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    Device:
      type: object
      properties:
        id:
          type: string
        serialNumber:
          type: string
        type:
          type: string
          enum:
          - ecg
          - temperature
          - spo2
          - bp_cuff
        model:
          type: string
        firmwareVersion:
          type: string
        assignedSubjectId:
          type:
          - string
          - 'null'
        status:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Modeled as an OAuth2/bearer access token issued to Developer Program partners for machine-to-machine access. Confirm the exact scheme (API key vs. OAuth2 client credentials) against VivaLNK's licensed docs.
